%p#notice= notice

%p
  %b 予定:
  = @event.title
%p
  %b 内容:
  = @event.body
%p
  %b 開始時間:
  = @event.start_date.strftime("%Y-%m-%d %H:%M")
%p
  %b 終了時間:
  = @event.end_date.strftime("%Y-%m-%d %H:%M")

= link_to '編集', edit_event_path(@event)

= link_to '戻る', events_path
